.img {
  height: 10vh;
  width: 80px;
}

.name {
  text-align: right;
  color: antiquewhite;
  text-transform: uppercase;
  font-size: 12px;
}

.icon {
  float: right;
  font-size: 15px;
  color: #faebd7;
}

.coindiv:nth-child(2n) {
  background: rgb(78, 64, 125);
  background: linear-gradient(90deg, rgba(78, 64, 125, 1) 0%, rgba(119, 94, 172, 1) 100%);
  padding: 1rem;
}

.coindiv:nth-child(2n + 1) {
  background: rgb(119, 94, 172);
  background: linear-gradient(90deg, rgba(119, 94, 172, 1) 0%, rgba(78, 64, 125, 1) 100%);
  padding: 1rem;
}
