.coin_container {
  cursor: pointer;
  background: rgb(17, 63, 154);
  background: linear-gradient(90deg, rgb(115, 144, 202) 0%, rgba(23, 33, 53, 1) 100%);
}

.coinsdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* .coinsdiv {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  font-size: 10px;
} */

.coinsheading {
  padding-left: 1rem;
  padding-top: 0.5rem;
  color: antiquewhite;
}
