.headerdiv {
  display: flex;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  background: rgb(17, 63, 154);
    background: linear-gradient(90deg, rgb(115, 144, 202) 0%, rgba(23, 33, 53, 1) 100%);
    padding: 1rem;
}

.imgheader {
  width: 30%;
}

.subdiv {
  margin: auto;
}

.headerh1 {
  font-weight: 800;
  font-size: 14px;
  line-height: 5px;
  color: aliceblue;
}

.headerh2 {
  font-weight: 700;
  font-size: 12px;
  line-height: 1px;
  color: aliceblue;
}
