header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.span {
 font-size: 16px;
 padding-right: 3rem;
 font-weight: 700;
 padding-bottom: 0rem;
 /* margin-top: 2rem; */
}

.icon2 {
  padding-top: 0.1rem;
  padding-bottom: 0rem;
  margin-left: -8rem;
  height: 17px;
  width: auto;
  color: #fff;
}